@media screen and (max-width: 600px) {
  .navbar ul,
  li,
  ul.navbar-nav li {
    float: none;
  }

  #logo {
    display: none; /*taking the logo away */
  }

  .content {
    padding-bottom: 40px;
  }
}
